<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Curso Ingreso UTN FRA</title>

		<!--Estilos-->
		<link rel="stylesheet" type="text/css" href="../estilo.css">
		<link rel="stylesheet" type="text/css" href="../animacion.css">
		<!--final de Estilos-->

		<!--Lógica-Programación-->
		<script SRC="bower_components/angular/angular.min.js" TYPE="text/javascript"></script>
 		<script SRC="jsFerreteFacturacion.js" TYPE="text/javascript"></script>
        <!--Final de Lógica-Programación -->
		

        



		</head>
	<body ng-app="ferreteFacturacion" ng-controller="controladorFacturacion">
		<div  class="CajaUno animated bounceInDown">
			
			{{test}}
			<form id="FormIngreso">
				
				<input type="text"  id="PrecioUno" ng-model="datos.precioUno">
				<input type="text"  id="PrecioDos" ng-model="datos.precioDos">
				<input type="text"  id="PrecioTres" ng-model="datos.precioTres">
				<br>
				
			</form>
			
		</div>
		<div class="CajaUno animated bounceInLeft">
			
			
			<button  class="MiBotonUTN" ng-click="Sumar()" >Sumar</button>
			<button  class="MiBotonUTN" ng-click="Promedio()" >Promedio</button>
			<button  class="MiBotonUTN" ng-click="PrecioFinal()" >Precio Final</button>

		</div>

		<div class="CajaEnunciado animated bounceInLeft">
			<h2>Enunciado:</h2>
			
	
				<h3>
					1.	Para el departamento de facturación:
						<br>A.	Ingresar tres precios de productos y mostrar la suma de los mismos.
						<br>B.	Ingresar tres precios de productos y mostrar el promedio de los mismos.
						<br>C.	ingresar tres precios de productos  y mostrar precio final (más IVA 21%).



				</h3>
			
		</div>

		<div class="CajaAbajo animated bounceInUp">
			<a  class="MiBotonUTNLinea" onclick="location.href='index.html'" >Men&uacute; ejercicios</a>	
		</div>
	</body>
</html>